<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--  
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/Users/yourusername/test.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            
        </encoder>
    </appender>
	-->
	<logger name="org.clark" level="debug" />
    <root level="warn">
        <appender-ref ref="STDOUT" />
        <!-- appender-ref ref="FILE" /-->
    </root>
</configuration>